<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Despesa</title>
</head>
<body>

<h1>Nova Despesa</h1>

<form th:action="@{/despesas}" method="post">

    <label>Descrição:
        <input type="text" name="descricao" required />
    </label><br/>

    <label>Valor:
        <input type="number" step="0.01" name="valor" required />
    </label><br/>

    <label>Data:
        <input type="date" name="data" required />
    </label><br/>

    <label>Categoria:
        <select name="categoriaId">
            <option value="">-- Selecionar --</option>
            <option th:each="cat : ${categorias}"
                    th:value="${cat.id}"
                    th:text="${cat.nome}">
            </option>
        </select>
    </label><br/>

    <button type="submit">Guardar</button>

</form>

<a th:href="@{/despesas}">Voltar</a>

</body>
</html>